.cartDiv {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.shopping-cart{
  color: rgba(248, 236, 190, 1);
  
  font-size: xx-large;
}
.shopping-cart:visited {
  color: rgba(248, 236, 190, 1);
}

.numberIcon {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  
  background-color:rgba(84, 40, 0, 1);
  color: white;
  width: 20px;
  border-radius: 100px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
