.cart {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;

  background-image: url("../public/img/guitarra-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cartProductListHolder {
  background-color: #ffffffc6;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  height: fit-content;
}

.cartProductListHolder h2 {
  color: black;
  align-self: center;
}

.cartProductCard {
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  margin: 10px;
}

.cartProductCard button {
  width: 100px;
  height: 50px;
}
.cartProductImage {
  width: 100px;
  height: 150px;
}

.cartDataCheckoutHolder {
  background-color: #ffffffc6;
  margin-top: 25px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: safe;
  justify-content: space-evenly;
}

.totalAmount {
  color: black;
}



.cartProductListHolder, .cartDataCheckoutHolder{
  border: 4px solid rgba(245, 179, 119);
    border-radius: 10px;
}


.emptyCartBannerHolder{
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}

.icon-sad{
  margin-top: 20px;
  font-size: xxx-large;
}

.emptyCartBannerHolder h2 {
  color: black;
  text-align: center;
  
}


