.productCardHolder {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.productCard {
  width: 550px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  justify-self: center;

  border: 1px solid grey;
  border-radius: 15px;

  background-color: rgb(243, 196, 156);
}

.productImage {
  width: 150px;
  height: 300px;
  margin-left: 10px;
  margin-top: 10px;

  border-radius: 5px;
}

.productInfo {
  width: 70%;
  margin-left: 20px;
}
